
/* A360 Override CSS 
2022 - 06/06/22
Questions? @DM Cook and @Mike Heeney
*/

/* testing testing */

/* Primary color for links, buttons, portal header, titles  */
a,
.text-primary,
.btn-primary .badge,
.btn-link,
.pagination > li > a,
.pagination > li > span,
.nav-site-sidebar .active > a,
.portal-single-publication .publication-icon i,
.portal-single-publication .publication-icon .fa,
.publication-contents a:hover,
.publication-contents h4 a,
.titlepage h1.title,
.titlepage h2.title,
.titlepage h3.title {
    /*
    previously ... 
    color: #1976d2; */

    color: #006fcf;

}

.bg-primary,
.btn-primary,
.publications-condensed .portal-single-publication a,
.toolbar,
.tool-search-form .search-field,
.pager li > a:hover,
.pager li > span:hover,
.colored-top .site-sidebar-header {
    background-color: #006fcf
}

.btn-primary,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.colored-top .site-sidebar-header {
    border-color: #006fcf;
}

.theme2 .portal-header::before {
    background-color: #fff;
background: linear-gradient(-225deg, rgb(24, 68, 124) 0%, rgb(0, 111, 207) 100%);
}

@media (min-width: 768px){
    .portal-header {
        height: 420px;
    }
}

.portal-header::after{
background-color: #fff !important;  
display: none !important;
    opacity: 0.1;
}


/* Hover primary color */
a:hover,
a:focus,
a.text-primary:hover,
a.text-primary:focus,
.btn-link:hover,
.btn-link:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #11508e;
}

a.bg-primary:hover,
a.bg-primary:focus,
.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.portal-header .portal-search button:hover {
    background-color: #11508e;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    border-color: #11508e;
}

/* Secondary color - For portal search button, publication count */
.portal-header .portal-search button,
.publication-contents h4 span {
    background-color: #006fcf;
}

.publication-contents h4 span {
    background-color: transparent;
}

/* Other colors */
.portal-footer {
    background: #006fcf;
    color: #63a4ff;
}

.portal-single-publication {
    border-radius: 5px;
}

.cat-panel-1:before {
    content: "\f02d"; /* Book */
}

.cat-panel-2:before {
    content: "\f015"; /* Home */
}

.cat-panel-3:before {
    content: "\f109"; /* Laptop */
}

.cat-panel-4:before {
    content: "\f15b"; /* document */
}

h4.title {
    color: #006fcf;
    margin-bottom:0;
}

procedure-title,
.variablelist-title {
    color: #006fcf;
    font-weight: normal;
}

.site-sidebar-header {
background: linear-gradient(-225deg, rgba(20,54,97,1) 0, rgb(24 68 124) 100%)
}

.toolbar {
background: linear-gradient(-225deg, rgba(24,68,124,1) 48%, rgba(0,111,207,1) 100%)
}


h1,
h2,
h3,
h4,
h5 {
    margin: 0em 0 1em;
}

.keycap-graphical {
    line-height: 1.2em;
    margin: 0px;
}

.portal-header .portal-search button i:before {
    content: "\f002";
}

.portal-header .portal-search button,
.portal-header .portal-search button:hover {
    /*background-color: #F57C00;*/
    background-color: #2196f3;
}

/*.publication-contents h4 a, .publication-contents h4 a:hover{
    color: #f57c00;
}*/

span.guilabel {
    font-weight: bold;
}

td,
th {
    vertical-align: top;
}

.example {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-left: 3px solid #ccc;  
    padding: 1em 2em 1em 2em;
}

.informalexample{
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-left: 3px solid #ccc;  
    padding: 1em 2em 1em 2em;
}

/* Make images full size in the popover */
.popover .mediaobject * {
    width: 100% !important;
}
ul.priceplan {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
    margin-bottom: 1em;
}

.taxonomy-plan-small-team ul.priceplan,
.taxonomy-plan-professional ul.priceplan,
.taxonomy-plan-business ul.priceplan,
.taxonomy-plan-enterprise ul.priceplan {
    display: inline-block;
    border-radius: 8px;
}

ul.priceplan li {
    float: left;
    display: inline-block;
    color: #bbb;
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

ul.priceplan li.planlabel {
    color: #444;
    font-weight: bold;
}
.taxonomy-plan-small-team .smallteam,
.taxonomy-plan-small-team .professional,
.taxonomy-plan-small-team .business,
.taxonomy-plan-small-team .enterprise,

.taxonomy-plan-professional .professional,
.taxonomy-plan-professional .business,
.taxonomy-plan-professional .enterprise,

.taxonomy-plan-business .business,
.taxonomy-plan-business .enterprise,

.taxonomy-plan-enterprise .enterprise {
    color: #444;
}

.taxonomy-plan-small-team .smallteam:before,
.taxonomy-plan-small-team .professional:before,
.taxonomy-plan-small-team .business:before,
.taxonomy-plan-small-team .enterprise:before,

.taxonomy-plan-professional .professional:before,
.taxonomy-plan-professional .business:before,
.taxonomy-plan-professional .enterprise:before,

.taxonomy-plan-business .business:before,
.taxonomy-plan-business .enterprise:before,

.taxonomy-plan-enterprise .enterprise:before {
    content: '\f00c';
    font-family: FontAwesome;
    margin-right: 0.5em;
    color: #006fcf;
}


a[id]:not(.co) {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

dl {
    float: left;
    margin: 1em 0;
    padding: 0;
    clear: both;
}

div.variablelist:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

dt {
    clear: left;
    float: left;
    display: block;
    width: 20%;
    margin: 0;
}

dd {
    float: left;
    width: 60%;
    margin: 0;
}

dd p,
dt p {
    margin-bottom: 0.5em;
}

main dd {
    padding-left: 20px;
}

.image-examples .image-viewport {
    border: 1px solid red !important;
}

.mediaobject .video-container {
    width: 50%;
}

.mediaobject img {
    border: 1px solid #eee;
}

.mediaobject.noborder img {
    border: none;
}

.note,
.tip,
.warning,
.caution,
.important,
.notice,
.warning.danger {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-left: 3px solid #2ab27b;
}

.tip {
    border-left: 3px solid #3aa3e3;
}

.warning {
    border-left: 3px solid #ffb74d;
}

.caution {
    border-left: 3px solid #ffe81a;
}

.important {
    border-left: 3px solid #2ab27b;
}

.notice {
    border-left: 3px solid #3aa3e3;
}

.warning.danger {
    border-left: 3px solid #ef5350;
}

.orderedlist-title {
    font-weight: bold;
    padding-bottom: 1em;
}

/* Image sizing */

@media only screen and (min-width : 1920px) {

    .image-viewport:not([width]) {
        max-width: 80%;
    }

}



/* Maximum resolution */
@media (min-resolution : 192dpi) {
    .image-viewport:not([width]) {
        max-width: 60%;
    }
}

@media (-webkit-min-device-pixel-ratio : 2) {

    .image-viewport:not([width]) {
        max-width: 60%;
    }
}

@media (min-device-pixel-ratio : 2) {

    .image-viewport:not([width]) {
        max-width: 60%;
    }
}

.theme2 .section-nav.nav li.active > a {
    color: #006fcf;
}

.theme2 .section-nav.nav > li.active > a:before {
    background: #006fcf;
}


.procedure > li:only-child::before {
    font-weight: 300;
    content: '\f101';
    font-family: FontAwesome;
    font-size: 1.2em;
}

.table thead th,
.informaltable thead th {
    background-color: #222;
    color: #fff;
}


/* CUSTOM FOOTER MENU */
.footer-menu {
    width: 40%;
    margin: 0 auto;
}

.footer-menu-container {
    padding-bottom: 3em;
    padding-top: 6em;
    background-color: #e6f2ff;

    margin-left: -15px;
    margin-right: -15px;
    color: #222;

    text-align: left;


    background: #f9fcff;
    background: -moz-linear-gradient(left, #f9fcff 0%, #e6f2ff 100%);
    background: -webkit-linear-gradient(left, #f9fcff 0%, #e6f2ff 100%);
    background: linear-gradient(to right, #f9fcff 0%, #e6f2ff 100%);
    background-color: rgba(0, 0, 0, 0);
}

.social-share-links {
    margin-top: 2em;
}

.list-unstyled.list-inline.social {
    font-size: 1.5em;
    float: right;
}

.site-footer .inner {
    padding: 20px 0;
}

.portal-footer .inner {
    padding: 15px 0;
    margin-right: 15px;
    margin-left: 15px;
}

.portal-body {
    background-color: #fff;
}


.theme2 .portal-footer {
    color: #222;
    background-color: #fff;

}

body {
    background-color: #fff;
}

.dropup.languages {
    display: none;
}

.fa-angle-double-right {
    margin-right: 0.5em;
}

.video-container.wistia .videoobject {
    box-shadow: 0 20px 50px 0 rgba(34, 43, 55, .1);
}

.large-video .video-container.wistia {
    width: auto;
    max-width: 80%;
}

main article p {
    line-height: 1em;
}

h5,
.h5 {
    text-transform: none;
}

pre{
    border: 1px solid #eee;
    padding: 1em !important;
}



@media (min-width : 992px) {
    .breadcrumb {
        font-size: 14px;
    }
}

.section.accordion {
    padding: 0px 0;
}

.aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(228, 228, 228, 0.6);
    min-width: 50%;
    width: 50%;
    margin-top: 0px;
    margin-left: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 200;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 7px 17px 0 rgba(0, 0, 0, 0.1)
}

.portal-content .aa-dropdown-menu {
    min-width: 100%;
    width: 100%;
    margin-top: 1px;
    margin-left: 0px;
}

.abstract{
    display: none;
}

a.glossterm {
    border-bottom: 1px dotted #333333;
}


.publication-contents li {
    margin-left: 0;
    text-indent: -31px;
    padding-left: 12px;
    margin-bottom: 0px !important;
    margin-right: 3px;
    }

.publication-contents h4{
font-size: 18px !important;
}

.publication-contents li{
    font-size: 14px !important;
}

.portal-single-publication h3{
    font-size: 16px !important;
}

h4.featured-title {
    margin-bottom: 2px;
}

.breadcrumb {
    color:white !important;
}

mark.search-highlight {
/*   display: none !important; */
font-style: normal !important;
/* styling as non-italics, also doing this in next statement */
}


ul.searchresults .search-highlight {
font-style: normal !important;
/* these can consolidate into one statement once tested */
}

.featured-subtopics li::before {
    margin-left: 0px !important;
    float:left;
    margin-right: 6px !important
}

ul.featured-subtopics {
    margin-left: 6px !important;
    margin-right: 1px !important;
}

.publication-contents li {
    margin-left: 0;
    text-indent: -34px;
    padding-left: 0px;
    margin-bottom: 0px !important;
    margin-right: 2px;
}


a.topic-link.section.accordion.accordion {
    margin-left: 20px;
    z-index: 0;
    clear: both;
    padding-right: 35px !important;
    padding-bottom: 8px !important;
    }

accordion span.glyphicon {
    margin-top: -3px !important;
}


.toc>li>.topic-link>.glyphicon {
    margin-top: 4px !important;
    line-height:21px !important;
}


.theme2 .toc .glyphicon {
   margin-top: 0px; 
    } 
   

.portal-footer .inner {
    padding: 15px 0;
    margin-right: 15px;
  
    /* pins the footer to the bottom - remove the position and bottom statements if this messes something up */
    /*  position: absolute; bottom: 0; */
   
    margin-left: 15px;
    }


div#search-container {
    background-color: white;
    padding-top: 30px;
}

input#search {
background-color: white !important;
color: black;
height: 16px;
padding: 16px 12px 16px !important;
margin-left: 0px;
border-radius: 0px 3px 3px 0px;
margin-top: 0.5px;
}

::placeholder {
color: #9999 !important;
}

form.tool-search-form {
margin-top: 15px !important;
margin-right: 15%;
} 

 @media only screen and (max-width: 768px) {
/* input#search {
height: 13px;
margin-right: 350px !important; 
} */
form.tool-search-form {
height: 13px;
margin-right: 350px !important;
}
form.portal-search.form-inline::before{
    display:none !important;
    }
} 

.dropup.languages {
  display: none;
 }



 .portal-search button.btn {
    display: none !important;
}

li.searchresultitem {border-bottom: 0;background-color: #FFF;margin-bottom: 10px;
    box-shadow: #d5d5d587 0px 1px 2px 1px;}
li.searchresultitem.selected-searchresultitem{background-color: #FFF; border-radius: unset;}
.searchresultsnippet {font-weight: 500 !important;}
.search-result-url, .search-result-breadcrumbs {color: #666 !important;margin-bottom: 0;}
.portal-search-result{background-color: rgb(240, 241, 243);}
.publication-contents li {font-weight: 500;}


form.portal-search.form-inline:before {
 /* Older values
 font-family: 'FontAwesome';
    content: "\f002";
    font-size: 20px;
    display: inline-block;
    background-color: #fff;
    padding: 4px 5px 3px 15px;
    margin-right: 0px;
    line-height: 32px;
    color: #999999;
    vertical-align: -4px;
    box-shadow: none !important;
    /* box-shadow: 0 4px 6px 0 rgb(0 0 0 / 6%), 0 7px 10px -5px rgb(0 0 0 / 9%); */
   /*  border-top: 1px solid #262626 !important;
    border-left: 1px solid #262626 !important;
    border-bottom: 1px solid #262626 !important; */
    
    /* new values */
    border-radius: 5px 0px 0px 5px;
    font-family: 'FontAwesome';
    content: "\f002";
    display: inline-block;
    font-size: 16px;
    background-color: #fff;
    padding: 6.5px 8px 9.5px 8px; /* yes, half a pixel */
    margin-right: 0px;
    line-height: 16px;
    color: #999999;
    vertical-align: -1px;
    box-shadow: none !important;
    }

    /* this build scales perfectly at all sizes in Pinch-to-Zoom
    and scales correctly when browser font size is manually adjusted to 50%, 100%, 125%, 150%. 
    Irregularities observed at 33%, 66%, 75% */

/* procedure step color change */
.theme2 .procedure > li::before {
    background-color: #18447c;
}
 
/* new css updates */
.panel{margin:0;}
.panel-inner p{margin-bottom: 0.5em;}
.panel-body {padding: 5px 30px 15px;}
ul.itemizedlist{margin-bottom: 3px;}
ul.itemizedlist p{line-height:1.3em; margin-bottom: 15px;}
section .table{margin-bottom:0;}
section.section {padding-top:0;}
.panel-heading h3 {margin-top: 5px; font-size: 20px;}

a.topic-link.section.accordion.accordion {
    margin-left: 26px;
    background-color: #fafafa !important;
}

.inlinemediaobject img {vertical-align: baseline !important; }

.theme2 .procedure > li::before{margin-top: -4px; }

.procedure{margin-top: 5px;}

.procedure > li p {
line-height: 16px !important;
}

div .itemizedlist ul {
    margin-left: -5px;
    margin-top: -10px;
}

main article p {
line-height: 1.35em !important;
}

.publication-contents li:before{
opacity:1 !important;
color: #cccccc;
}

.material-placeholder img {
    box-shadow: #d9d9d9 1px 4px 10px 1px;
}

 .material-placeholder {
    padding-bottom: 20px;
    }
    
h5.featured-content-label {
    text-transform: capitalize !important;
    font-size: 20px !important;
    margin-top: 15px !important;
}

div .feedback-link-visible p {
"Send us your feedback." !important;
}

.mediaobject.img-thumbnail img {
    max-height: 500px;
}

.mediaobject.img-thumbnail img {
    max-width: 800px;
}

@media print {
a:not([href^="http"]):link:after,
    a:not([href^="http"]):visited:after {
        content: none;
    }
     /* Hide accordion chevrons on print */
    .panel-heading :not(div).title:before, .panel-heading .sidebar-title:before{
    content:none!important;
 }  
}
 
.img-thumbnail {
border: none;
}


