
/* I360 Specific Overwrites */

/* 04/01/2022
Questions? @DM Cook
*/


.theme2 .portal-header::before, .portal-footer, .toolbar{background-color:#F0F1F3  !important;}
.site-sidebar-header {background-color: #F0F1F3 !important;}
.toolbar{-webkit-box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 4px 5px -5px rgba(0, 0, 0, 0.07);box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 4px 5px -5px rgba(0, 0, 0, 0.07);}
.collapsible-sidebar-nav .site-sidebar-header .navbar-toggle .icon-bar {background-color: #000;}
.print-icon a{color: #000 !important;}
.tool-search {background-color: #FFF;}
.toolbar, .tool-search-form .search-field{color: #999 !important;}
.tool-search-form .search-field::placeholder { 
  color: #999;
  font-style: italic;
  opacity: 1; 
}
.tool-search-form .search-field:-ms-input-placeholder { 
  color: #999;
  font-style: italic;
}

.tool-search-form .search-field::-ms-input-placeholder { 
  color: #999;
  font-style: italic;
}
.h1, h1{color: #006FCF;}
.portal-header .portal-search button {background-color: #006fcf !important;}
.portal-header .portal-search button:hover{background-color: #18447c !important;cursor: pointer !important;}

/* A360/I360  General Styling Overwrites */
body{font-family:"Source Sans Pro", sans-serif !important;background: rgb(240, 241, 243) !important;}

.portal-header::after{background-image:none !important;}
.portal-header{height: auto !important;}

a, .text-primary, .btn-primary .badge, .btn-link, .pagination>li>a, .pagination>li>span, .nav-site-sidebar .active>a, .portal-single-publication .publication-icon i, .portal-single-publication .publication-icon .fa, .publication-contents h4 a, .titlepage h1.title, .titlepage h2.title, .titlepage h3.title {
    color: #006FCF !important;
}
a:hover, .btn-primary .badge, .btn-link:hover, .pagination>li>a:hover, .nav-site-sidebar .active>a:hover, .publication-contents a:hover, .publication-contents h4 a:hover {
    color: #18447c !important;
}
.theme2 .section-nav.nav>li.active>a:before {background: #66b045 !important;}
.theme2 .toc > li {border-bottom: 0 !important;}
.nav-site-sidebar a:hover{color: #FFF !important;}
.site-sidebar-header {height: 67px;border-bottom: 0 !important;}
.site-sidebar{font-size: 14px;}
.theme2 .site-body-row .site-sidebar {background-color: #FFF !important;}
.theme2 .site-body-row.collapse-sidebar-nav .site-sidebar {background-color: transparent !important;} */
.section-nav-container{font-size: 14px !important;}
.section-nav.nav>li a {padding: 5px 20px;}
.page-toc main article {padding-right: 25px;}
.literallayout span{white-space: pre-wrap !important;}

.breadcrumb-container, #bottom-pager{display: inline-block;}
.bg-primary, .btn-primary, .publications-condensed .portal-single-publication a, .tool-search-form .search-field, .pager li>a:hover, .pager li>span:hover, .colored-top {
    background-color: #006FCF !important;
}
.tool-search-form .search-field{background-color:transparent !important;}
.print-icon a{margin-top: 10px !important;}
.tool-search {margin-left: 20px;float: left;}
.tool-search:hover{cursor:default !important;}
.theme2 .tool-print.print-icon {margin-top:10px;}
.tool-search-form {position: relative !important; top: auto !important; left: auto !important; right: auto !important; bottom: auto !important; display: inline-block !important;margin-left: 0 !important;}
.tool-search {float: left;padding-left: 10px; border: 1px solid #CCC;}
.theme2.page-toc main article{padding-left: 40px !important;}
.theme2.page-toc main article.content-container{margin-top: 83px;}

.tool-search-form .search-field {background-color: transparent !important;margin-left: 5px;padding: 10px;width: 350px;}
.theme2 .toolbar {padding: 13px 25px !important;position: fixed; right: 0; width: 100%; z-index: 999;}
.portal-header h1 {margin-top: 10px;}
.nav-site-sidebar a:link, .nav-site-sidebar a:visited{color:#006FCF !important;font-weight: normal;}
.theme2 .nav-site-sidebar > li > a{font-weight: 600 !important;}
.nav-site-sidebar li a:focus, .nav-site-sidebar li a:hover {background-color: rgb(240, 241, 243) !important;}
.panel-default >.panel-heading {background-image: none; padding: 10px 15px;}
.section{padding: 0;}
.panel-heading :not(div).title:before, .panel-heading .sidebar-title:before {content: "\e148" !important;font-family: 'Material Icons Outlined' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;}
.panel-heading :not(div).title:before {color:#006FCF !important}
.panel-heading.active :not(div).title:before, .panel-heading.active .sidebar-title:before {content: "\e15d" !important;font-family: 'Material Icons Outlined' !important;}
.panel{margin: 0;border-bottom: 0.5px solid #E7E7E7;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .popover, .tooltip{font-family:"Source Sans Pro", sans-serif !important;margin: 0.3em 0 0.3em 0 !important;}
.h2, h2{margin-top: 0 !important;}
.h1, .h2, .h3, .h4, .h5, .h6 {padding-top: 15px !important;}
.h3, h3 {font-size: 18px !important;}
.h4, h4 {font-size: 17px;font-weight: 600;}

.topic-content{padding:20px;background-color:#FFF}

div.feedback-panel {border-top: 0 !important; margin-left: 10.3333333% !important; background-color: transparent !important; border-radius: 0 !important; padding: 0px !important;}
.section-nav {border-left: 1px solid #ccc !important;}

div.feedback-panel .btn {border: 1px solid #1976d2; margin: 10px 20px !important; border-radius: 0 !important; background-color: #FFF !important; color:#1976d2;}
div.feedback-panel .btn:hover {background-color: #1976d2 !important; color:#FFF !important;}
.site-sidebar .logo {height: auto; max-height: 60px !important; max-width: 70% !important;}

li.searchresultitem {border-bottom: 0;background-color: #FFF;margin-bottom: 10px;}
li.searchresultitem.selected-searchresultitem{background-color: #FFF; border-radius: unset;}
.searchresultsnippet {font-weight: 500 !important;}
.search-result-url, .search-result-breadcrumbs {color: #666 !important;margin-bottom: 0;}
.portal-search-result{background-color: rgb(240, 241, 243);}
.publication-contents li {font-weight: 500;}

.collapse-sidebar-nav .copyright, .collapse-sidebar-nav .date-modified, .collapse-sidebar-nav .publication-date  {float: none; display: inline-block;}
.site-footer{margin-left: 16.66666667%;width: 83% !important;}
.copyright{margin: 0 0px !important;}

.theme2 .procedure > li::before {background-color: #999;}


/* other edits */


.cat-panel-1:before {
    content: "\F0E8";
}

.cat-panel-2:before {
    content: "\f071";
}


button.navbar-toggle.collapsed {
margin-top: 6px;
}



article#content-wrapper {
    padding-top: 45px;
    margin-top: 30px;
}

.toolbar{ 
margin-top: 0px !important;
position: absolute;
top: -1px !important;
}


.navbar-toggle .icon-bar {
    background-color: #2771C9;
}

aside.site-sidebar.collapse.in {
    max-width: 60%;
	border-right: 4px solid #cdcdcd;
}

h5, .h5 {
font-size: 1.23em !important;
margin-bottom: 1.538em;
}


ul.featured-subtopics li {
font-size: 1.07em;
}

@media (min-width: 768px){
    .tool-search-form .search-field {padding: 10px !important;margin-left:5px;}
    .theme2.page-toc .site-body-row main article{padding-left: 60px !important;}
    .site-body-row.collapse-sidebar-nav .toolbar .breadcrumb-container {display: block !important;}
    .site-sidebar{width: 25% !important;}
}
@media (min-width: 1200px){
    .site-sidebar{width: 18% !important}
    .collapsible-sidebar-nav .site-content {transition: 0.3s ease !important;}
}
@media (max-width: 767px){
    .page-toc main article {width: 100% !important;}
}
@media (max-width: 991px){
    .portal-header .portal-search .search-field{width: 400px;}
}


.dropup.languages {
  display: none;
 }


button.btn{
display: none !important;
}

.portal-contents.featured-content {
    background-color: white;
    padding: 20px;
    margin-top: 1.54em;
}

.publication-contents h4 span.toc-count{
    display: inline-block;
    margin-right: 5px;
    position: relative !important; 
    width: auto !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    line-height: auto !important;
    color: #aaa;
    border-radius: none !important;
    font-size: 16px
}


.publication-contents {
width: 33%!important;
margin-bottom: 0 !important;
}
.publication-contents li:before {
    opacity: 0.3 !important;
    margin-left: -10px !important;
    width: 20px !important;
}

header.portal-header{
background-color: #f0f1f3 !important;
}

header.portal-header h1 {
    color: #000 !important;
}

input#search {
    color: black !important;
    border-radius: 0px 5px 5px 0px !important;
    font-size:1.5em;
    background-color: white !important;
    font-family: sans-serif;
    color: black;
}


.portal-header .portal-search .search-field {
    height: 49px !important;
}

p {
margin: 0 0 1.05em;
line-height: 1.45em !important;
}

h2.title, h3.title, h4.title {
padding-top: 30px !important; 
line-height: 0.5em !important;
}


h2:first-of-type {
    padding-top: 0px !important;
	margin-top: -5px !important;
}

form.portal-search.form-inline:before {
    font-family: 'FontAwesome';
    content: "\f002";
    font-size: 23px;
    display: inline-block;
    background-color: #FFF; 
    opacity: 1;padding: 5px 10px 6px 15px;
    line-height: 38px !important;
    color: #999999;
    border-radius: 5px 0 0 5px;vertical-align: middle;
  
}
form.portal-search.form-inline{
    display: inline-block;
    box-shadow: 0 4px 18px 0 rgb(0 0 0 / 6%), 0 7px 10px -5px rgb(0 0 0 / 9%);
}


.portal-header .portal-search .search-field {box-shadow: none;}

border-radius: 3px;
font-size: 14px;
display: inline-block;
vertical-align: middle !important;
height: 50px;
width: 515px;


footer.site-footer {
    margin-left: 120px !important;
    color: black;
/*    padding-left: 64px !important; */
}

footer.portal-footer {
margin-left: 128px !important;
color: black;
background-color: #f0f1f3 !important;
}


div.copyright {
    color: black;
 padding-right: 30px !important; 
    float:right !important;
 /*   padding-left: 25%; */
 text-align: left !important;
}

.date-modified{
    clear: both !important;
	color: black;
    float: right !important;
}

input#search.form-control {
    font-size: medium;
}

.site-sidebar .logo {
    height: auto;
    max-height: 70px !important;
    max-width: 70% !important;
}
